.navMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    padding: 16px 0;
    z-index: 1;
  }
  
  .navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    margin: 0 20px;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:hover {
    color: black
  }

  .center-container {
    margin-top: 375px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
  }
  
  .center {
    padding: 20px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    backdrop-filter: blur(15px);
    margin-top: 100px;
    box-shadow: 
    0px 0.5px 1px rgba(255,255,255,0.5), 
    0px 1px 2px rgba(255,255,255,0.5), 
    0px 2px 4px rgba(255,255,255,0.5), 
    0px 4px 8px rgba(255,255,255,0.5);
  }

  .center:hover{
    box-shadow: 0px 1px 2px rgba(255,255,255,0.7), 
    0px 2px 4px rgba(255,255,255,0.7), 
    0px 4px 8px rgba(255,255,255,0.7), 
    0px 6px 12px rgba(255,255,255,0.7);
    transition: 0.2s;
    transform: translateY(-10px);
  }
  
  input[type="date"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 10px;
    border: 1px solid black;
  }

#buttoner {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid black;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 5px;
}
#buttoner:hover{
    background-color: #303245;
    color: white;
}

#flex{
    margin-top: 100px;
    box-shadow: 
    0px 0.5px 1px rgba(255,255,255,0.5), 
    0px 1px 2px rgba(255,255,255,0.5), 
    0px 2px 4px rgba(255,255,255,0.5), 
    0px 4px 8px rgba(255,255,255,0.5);
}

#flex:hover{
    box-shadow: 0px 1px 2px rgba(255,255,255,0.7), 
    0px 2px 4px rgba(255,255,255,0.7), 
    0px 4px 8px rgba(255,255,255,0.7), 
    0px 6px 12px rgba(255,255,255,0.7);
    transition: 0.2s;
    transform: translateY(-10px);
}

/* .button:focus {
  color: #171e29;
}

.button:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button {
    min-width: 170px;
  }
} */

  
/* .result {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: #817ac4;
    height: 100px;
    border: 4px solid white;
    border-radius: 5px;
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}*/

.styled-table {
    
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 700px;
    height: 500px;
    background-color: #303245;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.styled-table th,
.styled-table td {
    text-align: left;
    padding: 10px;
}

.styled-table button {
    display: block;
    margin: 0 auto;
}

.styled-table thead tr {
    background-color: white;
    color: black;
    text-align: left;
}
/*


.slider-container {
    
    border: 5px solid #B5B1DC;
   
    
    width: 400px;
    height: 500px;
    overflow: hidden;
}

.slider {
  
    transition: transform 0.5s ease-in-out;
}

.slide {
    
    width: 400px;
    height: 500px;
}

.slide img {
    width: 100%;
    height: 100%;
} */



  